/*hide from old browsers*/
<!--

.monitor_display {
	width:200px;
	margin:10px;
	border:1px solid blue;
	padding:10px;
}

#top_msgbox {
	text-align:center;
	font-size:130%;
}

#top_progressbox {
	text-align:center;
	font-size:130%;
}

#mid_msgbox {
	text-align:center;
	font-size:100%;
}

#mid_progressbox {
	text-align:center;
	font-size:100%;
}

#bot_msgbox {
	text-align:center;
	font-size:100%;
}

#bot_progressbox {
	text-align:center;
	font-size:100%;
}
-->
