		body { margin:0px;padding:0px;}
		#progbox {margin:10px;border:1px solid blue;min-width:100px;width:auto !important;min-height:15px;height:auto !important;text-align:center;}
		#msgbox {margin:10px;border:1px solid blue;min-width:100px;width:auto !important;min-height:15px;height:auto !important;}
		progress {background-color:white;width:99%;margin:10px;border:1px solid blue;}
		#errmsg {font-size:110%;color:red;}
		#collection_delete {border:1px solid red;margin:0px 10px;color:red;text-decoration:none;font-size:80%;}
		#collection_create {margin:0px 10px;color:blue;border:1px solid blue;background:lightblue;text-decoration:none;}
		#collection_label {font-size:130%;margin:10px 5px;}
		a {color:blue;}

		#addfiles {border:1px solid blue;margin:0px 0px 20px 0px;}

		#inputfiles {margin:0em;padding:0em;border:0px solid blue;float:left;width:35%;}
		#convert {margin:0em;padding:0em 0.5em;border:0px solid orange;float:left;width:22%;}
		#outputfiles {margin:0em;padding:0em;border:0px solid green;float:left;width:35%;}

		@media all and (max-width:320px){
			#smartphonesize{display:block;}
			#tabletsize{display:none;}
			#computersize{display:none;}
			#inputfiles {margin:0em;padding:0em;border:0px solid blue;width:100%;display:block;}
			#convert {margin:0em;padding:1em 0em;border:0px solid orange;width:100%;display:block;}
			#outputfiles {margin:0em;padding:0em;border:0px solid green;width:100%;display:block;}
		}
		@media all and (min-width:321px) and (max-width:768px){
			#smartphonesize{display:none;}
			#tabletsize{display:block;}
			#computersize{display:none;}
			#inputfiles {margin:0em;padding:0em;border:0px solid blue;width:100%;display:block;}
			#convert {margin:0em;padding:1em 0em;border:0px solid orange;width:100%;display:block;}
			#outputfiles {margin:0em;padding:0em;border:0px solid green;width:100%;display:block;}
		}
		@media all and (min-width:769px) {
			#smartphonesize{display:none;}
			#tabletsize{display:none;}
			#computersize{display:block;}
		}

		html.js #nojsmsg {display:none;}
		html.no-js #nojsmsg {display:block;}

