<!--
/*hide from old browsers*/

.menu_on {
	text-decoration:none;
	color:green;
	border:1px solid green;
	margin:0.5em;
	padding:0.5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

.menu_off {
	text-decoration:none;
	color:navy;
	border:1px solid navy;
	margin:0.5em;
	padding:0.5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}
-->
