<!--
/*hide from old browsers*/
html {
	margin:0px 3px;
	border:0px;
	padding:0px;
	color: #000066;
	background-color:#FFFFFF;
}

body{
	font-size:9pt;
	font-family:Verdana,sans-serif;
	margin:0px;
	border:0px;
	padding:0px;
	-webkit-user-select:none;
}

body *{
	outline:none;
}

a {
	color:blue;
	text-decoration:none;
}
-->

