<!--
/*hide from old browsers*/
	#upload_msgbox {margin:0.4em;padding:0.4em;min-width:100px;width:97%;min-height:15px;height:15px;font-weight:bold;border:1px solid blue;}
	#upload_progressbox {margin:10px;min-width:100px;width:97%;min-height:35px;height:35px;}
	#upload_form {margin:0.5em;padding:0.5em;}
-->

