/*hide from old browsers*/
<!--
#myframe{
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 99;
}

#mydiv {
	position:absolute;
	background-color:#FFF;
	margin:0;
	padding:0;
	display:none;
	z-index: 100;
}

table.innerpopup {
	background-color:white;
	margin:4px;
	border:3px solid red;
	border-radius:15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
}

div.innerpopup {
	background-color:white;
	margin:4px;
	border:3px solid red;
	border-radius:15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
}

iframe.innerpopup {
	background-color:white;
	border-radius:15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
}
-->

