		form {
			margin:0.25em;
		}
		body {
			margin:0em;
			border:0em;
			padding:0em;
			outline:none;
			font-family:arial;
			font-size:120%;
		}
		body *{
			outline:none;
		}
		a {
			text-decoration:none;
			margin:0.25em;
			color:blue;
		}
		.infomsg {
			min-height:18px;
			margin:0.25em;
			color:green;
		}
		.warnmsg {
			min-height:18px;
			margin:0.25em;
			color:red;
		}
		.banner {
			font-size:110%;
			color:green;
		}
		.instruct {
			font-size:90%;
			color:black;
		}
		.instructsmall {
			font-size:70%;
			color:black;
		}
		.button {
			font-size:85%;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			-khtml-border-radius:3px;
			font-family:arial;
		}
		.highlightlink {
			font-size:85%;
			margin:0.2em;
			padding:0.2em;
			border:1px solid blue;
			border-radius:4px;
		}
